.home {
  &__header-desc {
    margin: 90px auto 20px;
    text-align: center;
    h1 {
      font-size: 40px;
      line-height: 1.4;
      color: #fff;
      @include breakpoint(768px) {
        font-size: 56px;
      }
    }
    h2 {
      font-size: 26px;
      color: $tertiary;
      @include breakpoint(768px) {
        font-size: 34px;
      }
    }
    a.button {
      display: inline-block;
      margin-top: 50px;
    }
  }
}
.form-login {
  background: #f6f7fa;
  border-radius: 10px;
  max-width: 650px;
  padding: 30px 50px;
  margin: 20px auto 60px;
  width: 90%;
  .input-group {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
    input {
      margin-bottom: 5px;
      border: 0;
      border-radius: 5px;
      background: #fff;
      padding-left: 50px;
      font-size: 16px;
      height: auto;
    }
    p {
      line-height: 1;
      small {
        color: $tertiary;
        font-size: 60%;
      }
    }
  }
  .icon {
    display: block;
    &-username {
      background: url(/images/icons/icon-username.png) 0 no-repeat;
      width: 28px;
      height: 28px;
      margin-top: -39px;
      margin-left: 8px;
      margin-bottom: 10px;
    }
    &-password {
      background: url(/images/icons/icon-password.png) 0 no-repeat;
      width: 23px;
      height: 26px;
      margin-top: -38px;
      margin-left: 8px;
      margin-bottom: 10px;
    }
  }
  .input__submit {
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 21px;
    &:after {
      content: "";
      background: url(/images/icons/arrow-right.png) 0 no-repeat;
      width: 7px;
      height: 11px;
      margin-left: 12px;
      margin-bottom: 1px;
    }
  }
}
.three-block {
  display: flex;
  flex-flow: column;
  padding: 0 20px;
  @include breakpoint(768px) {
    flex-flow: row;
    padding: 0;
  }
}
.three-block-banner {
  background: #fff;
  padding: 30px 0 20px;
  overflow: hidden;
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    @include breakpoint(768px) {
      flex-flow: column;
      padding: 20px;
    }
    &-img {
      display: flex;
      min-height: 130px;
      img {
        object-fit: contain;
        margin: 0 auto 30px;
      }
    }
    h4 {
      color: $black;
      font-weight: bold;
      text-align: center;
      font-size: 24px;
    }
    p {
      text-align: center;
      color: $tertiary;
      font-size: 18px;
    }
  }
}
