.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  &-item {
    margin: 0 auto;
    max-width: 1200px;
    padding: 15px;
    background-color: #fff;
    @include breakpoint(1024px) {
      padding: 0 20px;
    }
  }
  &__title {
    position: relative;
    width: 100%;
    background-color: #fff;
    color: #000;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    @include breakpoint(1024px) {
      padding: 30px 20px;
    }
    &::after {
      content: "+";
      position: absolute;
      right: 17px;
      font-size: 20px;
      font-weight: bold;
      transition: all 0.4s linear;
      @include breakpoint(1024px) {
        right: 24px;
      }
    }
    &:hover {
      color: $primary;
      &:after {
        color: $primary;
      }
    }
    &.active {
      color: $primary;
      &::after {
        content: "-";
      }
    }
  }
  &__options {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    @include breakpoint(1024px) {
      height: auto;
      max-height: 0;
      transition: all 0.4s linear;
    }

    &.show {
      padding: 0 20px;
      padding-bottom: 15px;
      overflow: hidden;
      visibility: visible;
      height: auto;
      @include breakpoint(1024px) {
        max-height: 340px;
      }
    }
    p {
      color: #000;
      font-size: 16px;
      line-height: 1.3;
    }
  }
  .accordion-item + .accordion-item {
    border-top: 1px solid #eaedf2;
  }
}
