.alert {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  padding: 15px 40px 15px 20px;
  &-warning {
    background-color: #fb5353;
  }
  &-success {
    background-color: #06a677;
  }
  .icon-alert {
    display: inline-block;
    min-width: 24px;
    height: 24px;
    margin-top: 5px;
    background-image: url(../images/icons/icon-alert.png);
  }
  .icon-success {
    display: inline-block;
    min-width: 24px;
    height: 24px;
    margin-top: 5px;
    background-image: url(../images/icons/icon-ok.png);
  }
  > p {
    margin: 0 30px;
    color: #fff;
    font-size: 16px;
  }
  .bt-close {
    transform: rotate(45deg);
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
  }
}