.slick-slider {
  margin: 0 -15px;
}
.slick-slide {
  background-color: #fff;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 1px 4px 4px rgba(153, 153, 153, 0.2);
  &.slick-current {
    border: 1px solid $primary;
  }
}
.slick-list {
  padding-bottom: 10px;
}
.carousel {
  padding: 10px 0 20px;
  &-slider {
    padding: 0 30px;
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: #fff;
    border-radius: 8px;
    &-img {
      display: flex;
      min-height: 130px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      overflow: hidden;
      img {
        object-fit: cover;
        margin: 0;
        height: 130px;
        width: 100%;
      }
    }
    &-desc {
      padding: 10px 20px;
      text-align: left;
      h4 {
        font-weight: bold;
        font-size: 18px;
        color: $primary;
      }
      p {
        color: $black;
        font-size: 16px;
        line-height: 1.3;
      }
    }
  }
}

.slick-dots {
  position: absolute;
  bottom: -15px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    height: 15px;
    width: 15px;
    padding: 0;
    margin: 0 5px;
    cursor: pointer;
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 15px;
      width: 15px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      cursor: pointer;
    }
  }
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
  border: 1px solid $primary;
}
.slick-dots li button:before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  top: 0;
  left: 0;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  border: 1px solid $primary;
  background-color: $primary;
}
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  display: block;
  padding: 0;
  cursor: pointer;
  color: transparent;
  outline: none;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 15px solid $primary;
  background: transparent;
  &:hover {
    border-right: 15px solid $secondary;
  }
}
.slick-prev {
  left: -15px;
}
.slick-next {
  transform: rotateY(180deg);
  right: -15px;
}
