.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: $primary;
      &:before {
        transform: translateX(26px);
      }
    }
    &:focus + .slider {
      box-shadow: 0 0 1px $primary;
    }
  }
  &.red {
    input {
      &:checked + .slider {
        background-color: #fb5353;
        &:before {
          transform: translateX(26px);
        }
      }
      &:focus + .slider {
        box-shadow: 0 0 1px #fb5353;
      }
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 16px;
    height: auto;
    margin: 0;
    &:before {
      border-radius: 50%;
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
    }
  }
}

.check {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.8;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    visibility: hidden;
  }
  &:hover input ~ .checkmark {
    background-color: #fff;
  }
  input:checked ~ .checkmark {
    background-color: $primary;
    border: 1px solid #fff;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
    left: 6px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

.input-radio {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.8;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
  }
  &:hover input ~ .radiomark {
    background-color: #fff;
  }
  input:checked ~ .radiomark {
    background-color: $secondary;
    border: 1px solid $secondary;
  }
  input:checked ~ .radiomark:after {
    display: block;
  }
  .radiomark:after {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
  }
}

.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

.form-group {
  position: relative;
  margin-bottom: 20px;
  .button {
    width: 200px;
    display: inline-block;
  }
  input[type="text"],
  input[type="email"] {
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 0 20px;
    min-height: 50px;
    box-shadow: none;
    margin-bottom: 0;
    &.input-success {
      border: 1px solid $primary;
    }
    &.input-error {
      border: 1px solid #fb5353;
    }
  }
  .icon-success {
    position: absolute;
    right: 10px;
    background: url(../images/icons/like-verde.png) 0 no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    margin-top: -36px;
  }
  .icon-error {
    position: absolute;
    right: 10px;
    background: url(../images/icons/dislike-vermelho.png) 0 no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    margin-top: -36px;
  }
  textarea {
    border: 1px solid #eee;
    border-radius: 6px;
    min-height: 120px;
    padding: 8px 10px;
    box-shadow: none;
  }
  select {
    border: 1px solid #eee;
    border-radius: 6px;
    min-height: 50px;
    padding: 8px 20px;
    box-shadow: none;
  }
}
