.main__menu {
  position: absolute;
  top: 10px;
  left: -100%;
  width: 250px;
  transition: all 0.4s ease-in-out;
  z-index: 9;
  &.hidden {
    left: 10px;
  }
  .menu-control {
    position: absolute;
    top: 50px;
    left: 260px;
    display: inline-block;
    width: 26px;
    height: 4px;
    background-color: $secondary;
    z-index: 9;
    &:before {
      content: "";
      display: block;
      width: 26px;
      height: 4px;
      margin-top: -8px;
      background-color: $secondary;
    }
    &:after {
      content: "";
      display: block;
      width: 26px;
      height: 4px;
      margin-top: -12px;
      background-color: $secondary;
    }
    @include breakpoint(1200px) {
      display: none;
    }
    .arrow-menu {
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: 7px solid $primary;
      width: 0;
      height: 0;
      position: absolute;
      right: -12px;
      transform: rotate(180deg);
      top: -11px;
    }
  }
  @include breakpoint(1200px) {
    top: inherit;
    left: inherit;
    position: relative;
    width: calc(18% - 10px);
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    &.hidden {
      width: 0;
      margin: 0;
      .logo {
        opacity: 0;
      }
    }
  }
  .logo {
    padding: 15px;
    width: 100%;
    height: auto;
    max-width: 260px;
    margin: 0 auto;
    opacity: 1;
    min-width: 180px;
    transition: all 0.6s ease-in-out;
  }
}
.menu-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  &.show {
    visibility: visible;
    z-index: 8;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
  }
  @include breakpoint(1200px) {
    display: none;
  }
}
.mega-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s linear;
  &__left {
    position: relative;
    width: 100%;
    min-height: 100%;
    min-height: 98vh;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 8px;
    padding-bottom: 200px;
    background: $secondary url(../images/bg-menu.jpg) bottom no-repeat;
    background-size: 100% auto;
    z-index: 10;
  }
  &__nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    > li {
      position: relative;
      display: flex;
      align-items: center;
      &.active {
        > a {
          background-color: #122143;
          border-left: 6px solid $primary;
        }
      }
      > a {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        color: $white;
        font-size: 18px;
        padding: 20px 30px;
        line-height: 30px;
        margin: 0;
        margin-left: -6px;
        @include breakpoint(1200px) {
          font-size: 20px;
          padding: 30px 35px;
        }
        &:hover {
          background-color: #122143;
          border-left: 6px solid $primary;
        }
      }
      i {
        display: inline-block;
        min-width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 15px;
      }
    }
  }
  // &__burger {
  //   display: block;
  //   background: url(../images/icons/burger.svg) 0 no-repeat;
  //   width: 60px;
  //   height: 35px;
  //   margin-right: 10px;
  //   background-size: contain;
  //   cursor: pointer;
  //   &.show {
  //     background: url(../images/icons/close.svg) 0 no-repeat;
  //     width: 50px;
  //     height: 41px;
  //     margin-right: 10px;
  //     background-size: contain;
  //   }
  //   @include breakpoint(1024px) {
  //     display: none;
  //   }
  // }
}
