.tabs {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  @include breakpoint(768px) {
    padding: 30px 40px;
  }
  .tabs-options {
    ul {
      display: flex;
      margin-bottom: 30px;
      li {
        position: relative;
        color: $primary;
        font-weight: bold;
        font-size: 18px;
        padding: 15px 20px;
        border-radius: 8px;
        border: 1px solid #eee;
        background-color: #fff;
        cursor: pointer;
        z-index: 0;
        @include breakpoint(768px) {
          padding: 15px 40px;
        }
        @media (max-width: 768px) {
          max-width: 33%;
          padding: 16px;
          line-height: 1;
          text-align: center;
        }
        &.active {
          background-color: $primary;
          color: #fff;
          z-index: 1;
        }
        & + li {
          margin-left: -10px;
        }
      }
    }
  }
  .tabs-content {
    > div {
      display: none;
      &.show {
        display: block;
      }
    }
    p {
      font-size: 1rem;
      line-height: 1.3;
      max-width: 90%;
      margin-bottom: 0;
      & + p {
        margin-top: 10px;
      }
    }
  }
}
