.tooltip {
  display: inline-block;
  align-items: center;
  position: relative;
  background: none;
  .tooltip-action {
    &:hover {
      & + .tooltip-content {
        display: block;
      }
    }
  }
  .tooltip-content {
    display: none;
    border-radius: 8px;
    max-width: 320px;
    min-width: 130px;
    text-align: center;
    background: #fff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: -65px;
    p {
      font-size: 16px;
      line-height: 1.2;
      padding: 10px 15px;
      margin: 0;
      color: $black;
    }
  }
  &.bottom {
    .tooltip-content {
      top: inherit;
      bottom: -65px;
    }
  }
}