<div class="alert alert-warning">
  <i class="icon-alert"></i>
  <p>Contrary to popular belief, Lorem Ipsum is not simply text.</p>
  <button class="bt-close">+</button>
</div>
<br/>
<div class="alert alert-success">
  <i class="icon-success"></i>
  <p>Contrary to popular belief, Lorem Ipsum is not simply text.</p>
  <button class="bt-close">+</button>
</div>