<div class="contact flex-container">
    <div class="contact__photo" style="background-image: url('{{img}}')"><span>{{cbr}}</span></div>
    <div class="contact__info-position width-100 flex-container">
        <div class="contact__info flex-container flex-dir-column">
            <a href="#">{{name}}</a>
            <p>{{role}}</p>
            {{#if area}}
                <span>{{area}}</span>
            {{/if}}
        </div>
        <div class="contact__buttons flex-container flex-dir-column">
            <a class="button button__blue" href="#"><span>03 9242 1248</span><img src="images/icons/phone.svg" alt="phone"></a>
            <a class="button button__blue" href="#"><span>Email</span><img src="images/icons/mail.svg" alt="mail"></a>
        </div>
    </div>
</div>
