<div class="tabs">
  <div class="tabs-options">
    <ul>
      <li class="tab1">Título 1</li>
      <li class="tab2">Título 2</li>
      <li class="tab3 active">Título 3</li>
    </ul>
    <div class="tabs-content">
      <div id="tab1">
        <p>Tab1 Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
          Latin
          literature from 45 BC,making it over 2000 years old. Richard McClintock, a Latinprofessor at Hampden-Sydney
          College in Virginia, looked up oneof the m</p>
      </div>
      <div id="tab2">
        <p>Tab2 content Richard McClintock, a Latinprofessor at Hampden-Sydney
          College in Virginia, looked up oneof the more obscure Latin words, consectetur, from a Lorem Ipsum</p>
      </div>
      <div id="tab3" class="show">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC,making it over 2000 years old. Richard McClintock, a Latinprofessor at Hampden-Sydney
          College in Virginia, looked up oneof the more obscure Latin words, consectetur, from a Lorem Ipsum</p>
      </div>
    </div>
  </div>
</div>