<div class="row">
  <div class="small-5 medium-4 large-3">
    <h1>Title</h1>
  </div>
  <div class="small-6"><small>Page title - Helvetica 42 pixels</small></div>
</div>
<div class="row">
  <div class="small-5 medium-4 large-3">
    <h2>Titles</h2>
  </div>
  <div class="small-6"><small>Section titles - Helvetica 30 pixels</small></div>
</div>
<div class="row">
  <div class="small-5 medium-4 large-3">
    <h3>Subtitles</h3>
  </div>
  <div class="small-6"><small>Font subtitles - Helvetica 24 pixels</small></div>
</div>
<div class="row">
  <div class="small-5 medium-4 large-3">
    <p>Texts</p>
  </div>
  <div class="small-6"><small>Font texts - Helvetica 16 pixels</small></div>
</div>