<div class="tooltip">
  <div class="tooltip">
    <button type="button" class="button button__green tooltip-action">Hover here</button>
    <div class="tooltip-content">
      <p>Tooltip text align top</p>
    </div>
  </div>

  <div class="tooltip bottom">
    <a href="#" class="link-hover tooltip-action">Hover here</a>
    <div class="tooltip-content">
      <p>Tooltip text align bottom</p>
    </div>
  </div>
</div>