<div class="component--top-menu">
  <ul class="top-menu--list">
    <li class="link">
      <a href="#">Link 1</a>
    </li>
    <li class="link submenu">
      <a href="#">Link 2</a>
      <ul class="submenu-list">
        <li class="link">
          <a href="#">Submenu 1</a>
        </li>
        <li class="link">
          <a href="#">Submenu 2</a>
        </li>
        <li class="link">
          <a href="#">Submenu 3</a>
        </li>
      </ul>
    </li>
    <li class="link submenu">
      <a href="#">Link 3</a>
      <ul class="submenu-list">
        <li class="link">
          <a href="#">Submenu 1</a>
        </li>
        <li class="link">
          <a href="#">Submenu 2</a>
        </li>
        <li class="link">
          <a href="#">Submenu 3</a>
        </li>
      </ul>
    </li>
  </ul>
</div>