<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../common/head }}
</head>

<body class="login" style="background: url(images/bg-login.jpg) top center no-repeat;">

  <section class="form-login">
    <div class="form-login__container">
      <div class="form-login__header">
        <div class="form-login__logo">
          <a href="/" class="logo">
            <img src="images/logo/logo.png" alt="logo">
          </a>
        </div>
        <div class="form-login__menu">
          <ul>
            <li><a href="/register">Register</a></li>
            <li class="active"><a href="/login">Login</a></li>
          </ul>
        </div>
      </div>
      <h1>Welcome <span>back!</span></h1>
      <form method="get">
        <div class="input-group">
          <label>Username</label>
          <input type="text" value="" id="form_username" placeholder="Enter username" />
          <i class="icon icon-username"></i>
          <span class="input-error">This field is required</span>
          <p><small>Contrary to popular belief, Lorem Ipsum is not simply random text</small></p>
        </div>
        <div class="input-group">
          <label>Password</label>
          <input type="password" value="" id="form_password" placeholder="Enter password" />
          <i class="icon icon-password"></i>
          <span class="input-error">This field is required</span>
          <p><small>Contrary to popular belief, Lorem Ipsum is not simply random text</small></p>
        </div>
          <div class="input-group align-right text-right">
             <p><a href="">Forget password?</a></p>
          </div>
        <button type="submit" class="button button__green input__submit">Enter</button>
      </form>
    </div>
  </section>
</body>

</html>