<div class="accordion">
  <div class="accordion-item">
    <div class="accordion__title active">
      <span>Title</span>
    </div>
    <div class="accordion__options show">
      <div class="accordion__options-items">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
          College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion__title">
      <span>Title</span>
    </div>
    <div class="accordion__options">
      <div class="accordion__options-items">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
          College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion__title">
      <span>Title</span>
    </div>
    <div class="accordion__options">
      <div class="accordion__options-items">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
          College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum</p>
      </div>
    </div>
  </div>
</div>