<div class="carousel__container">
  <div class="carousel-slider">
    <div class="carousel">
      <div class="carousel__box flex-container">
        <div class="carousel__box-img">
          <img src="images/foto1.jpg" title="title" alt="image" />
        </div>
        <div class="carousel__box-desc">
          <div class="carousel__box-desc-pos">
            <h4>Title</h4>
            <p>Contrary to popular belief, It has roots in a piece making it over 2000 professor at in Virginia, of the more obscure.</p>
          </div>
        </div>
      </div>
      <div class="carousel__box flex-container">
        <div class="carousel__box-img">
          <img src="images/foto2.jpg" title="title" alt="image" />
        </div>
        <div class="carousel__box-desc">
          <div class="carousel__box-desc-pos">
            <h4>Title</h4>
            <p>Contrary to popular belief, It has roots in a piece making it over 2000 professor at in Virginia, of the more obscure.</p>
          </div>
        </div>
      </div>
      <div class="carousel__box flex-container">
        <div class="carousel__box-img">
          <img src="images/foto3.jpg" title="title" alt="image" />
        </div>
        <div class="carousel__box-desc">
          <div class="carousel__box-desc-pos">
            <h4>Title</h4>
            <p>Contrary to popular belief, It has roots in a piece making it over 2000 professor at in Virginia, of the more obscure.</p>
          </div>
        </div>
      </div>
      <div class="carousel__box flex-container">
        <div class="carousel__box-img">
          <img src="images/foto1.jpg" title="title" alt="image" />
        </div>
        <div class="carousel__box-desc">
          <div class="carousel__box-desc-pos">
            <h4>Title</h4>
            <p>Contrary to popular belief, It has roots in a piece making it over 2000 professor at in Virginia, of the more obscure.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>