<div class="boxes">
  <div class="item">
    <div class="box color-black"></div>
    <span>#000000</span>
  </div>
  <div class="item">
    <div class="box color-blue"></div>
    <span>#14254b</span>
  </div>
  <div class="item">
    <div class="box color-green"></div>
    <span>#4ea788</span>
  </div>
  <div class="item">
    <div class="box color-green2"></div>
    <span>#06a677</span>
  </div>
  <div class="item">
    <div class="box color-green3"></div>
    <span>#0a9169</span>
  </div>
  <div class="item">
    <div class="box color-red"></div>
    <span>#fb5353</span>
  </div>
  <div class="item">
    <div class="box color-gray"></div>
    <span>#eaedf2</span>
  </div>
  <div class="item">
    <div class="box color-light-gray"></div>
    <span>#f6f7fa</span>
  </div>
  <div class="item">
    <div class="box color-white"></div>
    <span>#ffffff</span>
  </div>
   <div class="item">
    <div class="box color-purple"></div>
    <span>#7579a5</span>
  </div>
</div>