<div class="form">
  <form method="GET" action="/">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="text" placeholder="Enter email" name="email" />
      <small>Contrary to popular belief, Lorem Ipsum is not simply random text</small>
    </div>
    <div class="form-group">
      <label for="comments">Comments</label>
      <textarea name="comments"></textarea>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Success input" name="email" class="input-success" />
      <span class="icon-success"></span>
      <br/>
      <input type="text" placeholder="Error input" name="email" class="input-error" />
      <span class="icon-error"></span>
    </div>
    <div class="form-group">
      <a href="#" class="button button__blue">Button Text</a>
      <a href="#" class="button button__green">Button Text</a>
    </div>
    <div class="form-group">
      <label for="comments">Select</label>
      <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <div class="row">
      <div class="column small-6 large-4">
        <div class="form-group">
          <label class="check">Yes
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
          <label class="check">No
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <div class="column small-6 large-4">
        <div class="form-group">
          <label class="input-radio">One
            <input type="radio" checked="checked" name="radio">
            <span class="radiomark"></span>
          </label>
          <label class="input-radio">Two
            <input type="radio" name="radio">
            <span class="radiomark"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider"></span>
      </label>
      <label class="switch red">
        <input type="checkbox" checked>
        <span class="slider"></span>
      </label>
    </div>
  </form>
</div>