{{#with text-and-image}}
<div class="text-and-image">
  <div class="row {{rowCss}}">
      {{#if grid}}
      <div class="small-12 {{grid}}">
       {{^}}
      <div class="small-12 large-6">
      {{/if}}
      <div class="text-and-image__img-position width-100 height-100" style="background-image: url('{{img}}')"></div>
    </div>
    <div class="small-12 large-6">
      {{#if counter}}
      <div class="text-and-image__desc-position flex-container flex-dir-column height-100 numbering">
        <span>{{counter}}</span>
        {{^}}
        <div class="text-and-image__desc-position flex-container flex-dir-column height-100">
          {{/if}}
          <h2>{{title}}</h2>
          <p>{{text}}</p>
          {{#if link}}
          <a href="{{link}}" class="link-hover"><span>Call to action</span></a>
          {{/if}}
          {{#if counter}}
        </div>
        {{^}}
      </div>
      {{/if}}
    </div>
  </div>
</div>
{{/with}}