<div class="tooltips">
  <div class="tooltip-custom">
    <button type="button" class="button tooltip-action">Hover here</button>
    <div class="tooltip-content">
      <p>Tooltip text align top</p>
    </div>
  </div>

  {{!-- <div class="tooltip-custom bottom">
    <a href="#" class="link-hover tooltip-action">Hover here</a>
    <div class="tooltip-content">
      <p>Tooltip text align bottom</p>
    </div>
  </div> --}}
</div>