<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../common/head }}
</head>

<body class="template light-theme">
  <div class="row expanded">
    <div class="header-main">
      <div class="header-logo">
        <img src="images/logo/logo.png" alt="logo" class="logo" />
      </div>
      <a href="#" class="menu-control">
        <span class="hamburger"></span>
        <i class="arrow-menu"></i>
      </a>
      <div class="menu-search-input mobile-hidden">
        <input type="text" id="search-menu" placeholder="Search here..." />
        <a href="#" class="menu-search"></a>
      </div>
      <ul class="menu-tabs mobile-hidden">
        <li><a href="">Menu 1</a></li>
        <li class="active"><a href="">Menu 2</a></li>
        <li><a href="">Menu 3</a></li>
      </ul>
      <div class="user-options">
        <a href="#" class="menu-messages"></a>
        <a href="#" class="menu-alerts">
          <span>3</span>
        </a>
      </div>
    </div>
    <div class="main">
      <div class="main__menu">
        <div class="mega-menu__left flex-container">
          <div class="menu-profile">
            <div class="menu-profile--img">
              <img src="images/profile.jpg" />
            </div>
            <h3>Hello Sara!</h3>
            <a href="#" class="button button__blue desktop-only">+ Insert activity</a>
          </div>
          <div class="menu-banner">
            <small>Banner</small>
          </div>
          <h3><i class="icon-fav"></i>Shortcuts</h3>
          <ul class="mega-menu__nav">
            <li class="link active">
              <a href="#"><i class="icon-knowledge"></i>Knowledge base</a>
            </li>
            <li class="link">
              <a href="#"><i class="icon-chatbot"></i>Open chatbot</a>
            </li>
            <li class="link">
              <a href="#"><i class="icon-talk"></i>Talk with us</a>
            </li>
          </ul>
        </div>
        <div class="menu-overlay"></div>
      </div>
      <div class="components">
        <div class="notifications">
          <span class="bt-close"></span>
          <h2>Notifications</h2>
          <div class="notifications-list">
            <div class="notifications-list-item">
              <span class="bt-delete"></span>
              <h4>Notification 1 title</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.</p>
            </div>
            <div class="notifications-list-item">
              <span class="bt-delete"></span>
              <h4>Notification 2 title</h4>
              <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45
                BC, making it over 2000 years old.</p>
            </div>
            <div class="notifications-list-item">
              <span class="bt-delete"></span>
              <h4>Notification 3 title</h4>
              <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
            </div>
          </div>
        </div>
        <div class="hero" style="background-image: url(../images/hero.jpg)">
          <h1>Welcome.</h1>
          <h2>See your account.</h2>
          <a href="#" class="button button__blue">Ask your question</a>
        </div>
        <h2>Components</h2>
        <div class="row">
          <div class="column small-12 large-6">
            <h3>Top menu</h3>
            {{> ../components/top-menu }}
            <h3>Accordion</h3>
            {{> ../components/accordion }}
            <h3>Alert</h3>
            {{> ../components/alert }}
            <h3>Breadcrumb</h3>
            {{> ../components/breadcrumb }}
            <h3>Forms</h3>
            {{> ../components/forms }}
            <h3>Tabs</h3>
            {{> ../components/tabs }}
            <br />
          </div>
          <div class="column small-12 large-6">
            <h3>Texts</h3>
            {{> ../components/texts }}
            <br />
            <h3>Colors</h3>
            {{> ../components/colors }}
            <h3>Caroussel</h3>
            {{> ../components/carousel }}
            <h3>Pagination</h3>
            {{> ../components/pagination }}
            <h3>Popover</h3>
            {{> ../components/popover }}
            <h3>Tooltip</h3>
            {{> ../components/tooltip }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="row column small-12">
      <p>© LGPDNOW - Govern your data.</p>
    </div>
  </div>
</body>

</html>