<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../common/head }}
</head>

<body class="template">
  <div class="row expanded">
    <div class="main__menu">
      <div class="mega-menu__left flex-container">
        <img src="images/logo/logo.png" alt="logo" class="logo" />
        <ul class="mega-menu__nav">
          <li class="link active">
            <a href="#"><i class="icon-home"></i>Home</a>
          </li>
          <li class="link">
            <a href="#"><i class="icon-workflow"></i>Workflow</a>
          </li>
          <li class="link">
            <a href="#"><i class="icon-statistics"></i>Statistics</a>
          </li>
          <li class="link">
            <a href="#"><i class="icon-calendar"></i>Calendar</a>
          </li>
          <li class="link">
            <a href="#"><i class="icon-users"></i>Users</a>
          </li>
          <li class="link">
            <a href="#"><i class="icon-settings"></i>Settings</a>
          </li>
        </ul>
      </div>
      <a href="#" class="menu-control">
        <span class="hamburger"></span>
        <i class="arrow-menu"></i>
      </a>
      <div class="menu-overlay"></div>
    </div>
    <div class="main">
      <section class="header-main">
        <div class="main-control">
          <a href="#" class="menu-control">
            <span class="hamburger"></span>
            <i class="arrow-menu"></i>
          </a>
          <a href="#" class="menu-search"></a>
          <div class="menu-search-input">
            <input type="text" id="search-menu" placeholder="Search here..."/>
          </div>
        </div>
        <ul class="menu-tabs mobile-hidden">
          <li><a href="">Project 1</a></li>
          <li class="active"><a href="">Project 2</a></li>
          <li><a href="">Project 3</a></li>
        </ul>
        <a href="#" class="button button__green desktop-only">+ Insert activity</a>
        <div class="user-options">
          <a href="#" class="menu-messages"></a>
          <a href="#" class="menu-alerts">
            <span>3</span>
          </a>
          <a href="#" class="menu-profile">
            <img src="images/profile1.png" />
          </a>
        </div>
      </section>
      <section class="components">
        <h2>Components</h2>
        <div class="row">
        <div class="column small-12 medium-6">
          <h3>Top menu</h3>
          {{> ../components/top-menu }}
          <h3>Accordion</h3>
          {{> ../components/accordion }}
          <h3>Alert</h3>
          {{> ../components/alert }}
          <h3>Breadcrumb</h3>
          {{> ../components/breadcrumb }}
          <h3>Forms</h3>
          {{> ../components/forms }}
          <h3>Tabs</h3>
          {{> ../components/tabs }}
          <br/>
        </div>
        <div class="column small-12 medium-6">
          <h3>Texts</h3>
          {{> ../components/texts }}
          <br/>
          <h3>Colors</h3>
          {{> ../components/colors }}
          <h3>Caroussel</h3>
          {{> ../components/carousel }}
          <h3>Pagination</h3>
          {{> ../components/pagination }}
          <h3>Popover</h3>
          {{> ../components/popover }}
          <h3>Tooltip</h3>
          {{> ../components/tooltip }}
        </div>
      </section>
    </div>
  </div>
</body>

</html>