.template {
  background-color: $light-gray;
  .main {
    display: flex;
    width: 100%;
    transition: all 0.4s linear;
    margin-top: 120px;
    &.expanded {
      width: 100%;
      .components {
        width: 100%;
      }
    }
  }
  .hero {
    padding: 20px 50px;
    background-color: #eaedf2;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    @include breakpoint(600px) {
      background-position: right;
    }
    &:before {
      content: "";
      width: 70%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(90deg, rgba(234, 237, 242, 1) 0%, rgba(255, 255, 255, 0) 100%);
      z-index: 1;
      @include breakpoint(639px) {
        width: 50%;
      }
    }
    h1 {
      position: relative;
      z-index: 2;
      margin-bottom: 5px;
    }
    h2 {
      position: relative;
      z-index: 2;
      margin-bottom: 10px;
    }
    .button {
      position: relative;
      z-index: 2;
      max-width: 170px;
    }
  }
  .components {
    padding: 15px 0;
    transition: all 0.4s linear;
    width: 100%;
    @include breakpoint(1200px) {
      width: calc(100% - 260px);
      padding: 20px 20px;
    }
    > .row {
      margin: 0;
      max-width: 100%;
    }
    > h2 {
      color: #000;
      font-size: 28px;
      margin: 0 20px 30px;
      margin-bottom: 30px;
      @include breakpoint(1024px) {
        margin: 0 10px;
        margin-bottom: 20px;
      }
    }
    > .row > .column > h3 {
      color: #000;
      font-size: 20px;
      margin-bottom: 24px;
      margin-top: 40px;
    }
  }
  .notifications {
    position: fixed;
    right: -350px;
    top: 120px;
    width: 100%;
    max-width: 320px;
    height: calc(100vh - 120px);
    background-color: #fff;
    padding: 30px;
    z-index: 9;
    overflow-y: auto;
    transition: all 0.2s linear;
    &.show {
      right: 0;
    }
    @include breakpoint(1024px) {
      max-width: 350px;
    }
    h2 {
      border-bottom: 1px solid #dadee7;
      padding: 20px 0;
      margin-bottom: 0;
    }
    .bt-close {
      width: 50px;
      height: 50px;
      cursor: pointer;
      &:after {
        content: "+";
        transform: rotate(45deg);
        font-size: 50px;
        color: $secondary;
        position: absolute;
        top: 10px;
        right: 30px;
        .light-theme & {
          color: $primary;
        }
      }
    }
    &-list {
      &-item {
        position: relative;
        padding: 20px 0;
        border-bottom: 1px solid #dadee7;
        .bt-delete {
          background-image: url(../images/icons/icon-trash.png);
          display: block;
          width: 20px;
          height: 20px;
          position: absolute;
          right: 5px;
          top: 20px;
          cursor: pointer;
        }
        h4 {
          font-size: 20px;
          margin-bottom: 20px;
        }
        p {
          font-size: 14px;
          line-height: 1.4;
        }
      }
    }
  }
}

.icon {
  &-home {
    background-image: url(../images/icons/home.png);
  }
  &-workflow {
    background-image: url(../images/icons/workflow.png);
  }
  &-statistics {
    background-image: url(../images/icons/statistics.png);
  }
  &-calendar {
    background-image: url(../images/icons/calendar.png);
  }
  &-users {
    background-image: url(../images/icons/users.png);
  }
  &-settings {
    background-image: url(../images/icons/settings.png);
  }
}
.header-logo {
  width: 200px;
  margin-left: 70px;
  @include breakpoint(639px) {
    width: 230px;
  }
  @include breakpoint(768px) {
    margin-left: -20px;
  }
  @include breakpoint(992px) {
    width: 260px;
    margin-left: 0;
  }
  .logo {
    height: auto;
    display: block;
    margin: 0 auto;
    opacity: 1;
    width: 100%;
    max-width: 180px;
    transition: all 0.6s linear;
    @include breakpoint(639px) {
      padding: 15px;
    }
  }
}
.header-main {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  border-bottom: 1px solid #dadee7;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  .menu-control {
    position: absolute;
    left: 30px;
    .arrow-menu {
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: 6px solid $secondary;
      width: 0;
      height: 0;
      position: absolute;
      right: -11px;
      top: 4px;
      transform: rotate(180deg);
      .light-theme & {
        border-right: 6px solid $primary;
      }
      @include breakpoint(768px) {
        right: -1px;
        top: 14px;
      }
    }
    &.active {
      .arrow-menu {
        right: inherit;
        left: -13px;
        transform: rotateY(0deg);
        @include breakpoint(768px) {
          left: 3px;
        }
      }
    }
    @include breakpoint(768px) {
      left: inherit;
      position: relative;
      padding: 10px 10px 5px 15px;
      transition: all 0.3s linear;
      margin-top: -8px;
    }
    @include breakpoint(1200px) {
      .arrow-menu {
        transform: rotate(0);
        left: 2px;
        top: 14px;
      }
      &:hover {
        .hamburger {
          background-color: $primary;
          &:before {
            background-color: $primary;
          }
          &:after {
            background-color: $primary;
          }
          .light-theme & {
            background-color: $secondary;
            &:before {
              background-color: $secondary;
            }
            &:after {
              background-color: $secondary;
            }
          }
        }
        .arrow-menu {
          border-right: 7px solid $primary;
        }
      }
      &.active {
        .arrow-menu {
          left: inherit;
          right: -3px;
          transform: rotateY(180deg);
        }
      }
    }
    .hamburger {
      position: relative;
      display: inline-block;
      transform: rotateY(180deg);
      width: 26px;
      height: 4px;
      background-color: $secondary;
      &:before {
        content: "";
        display: block;
        width: 26px;
        height: 4px;
        margin-top: -8px;
        background-color: $secondary;
      }
      &:after {
        content: "";
        display: block;
        width: 26px;
        height: 4px;
        margin-top: -12px;
        background-color: $secondary;
      }
    }
  }

  .menu-search-input {
    position: relative;
    height: 40px;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    @include breakpoint(992px) {
      margin-right: 20px;
    }
    &.show {
      input {
        display: block;
        position: absolute;
        width: 190px;
        top: 50px;
        left: -50px;
      }
    }
    input {
      min-height: 50px;
      padding: 0 20px;
      margin-bottom: 0;
      margin-left: 10px;
      border: 1px solid #ccc;
      box-shadow: none;
      border-radius: 8px;
      transition: all 0.3s linear;
      display: none;
      @include breakpoint(1024px) {
        display: block;
        position: relative;
        top: inherit;
        left: inherit;
        width: auto;
      }
    }
    .menu-search {
      display: inline-block;
      background: url(../images/icons/menu-search.png) 0 no-repeat;
      background-position: top;
      min-width: 24px;
      height: 24px;
      margin-left: 20px;
      transition: none;
      position: absolute;
      right: 10px;
      top: 12px;
      @include breakpoint(768px) {
        margin-left: 30px;
        &:hover {
          background-position: bottom;
        }
      }
    }
  }
  .menu-messages {
    display: inline-block;
    background: url(../images/icons/icon-messages.png) top no-repeat;
    min-width: 33px;
    height: 23px;
    margin-left: 20px;
    margin-right: 0;
    margin-bottom: -7px;
    transition: none;
    @include breakpoint(768px) {
      &:hover {
        background-position: bottom;
      }
    }
  }
  .menu-alerts {
    position: relative;
    display: inline-block;
    background: url(../images/icons/icon-notifications.png) top no-repeat;
    min-width: 24px;
    height: 28px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: -10px;
    transition: none;
    @include breakpoint(1024px) {
      margin-left: 30px;
      margin-right: 40px;
      &:hover {
        background-position: bottom;
        span {
          background-color: $primary;
          .light-theme & {
            background-color: $secondary;
          }
        }
      }
    }
    span {
      position: absolute;
      top: -5px;
      right: -4px;
      border-radius: 100%;
      background-color: $secondary;
      color: #fff;
      font-size: 9px;
      line-height: 1.6;
      height: 15px;
      width: 15px;
      text-align: center;
      border: 1px solid #fff;
      .light-theme & {
        background-color: $primary;
      }
    }
  }
  .button {
    display: inline;
    margin-bottom: 0;
    min-width: 150px;
  }
  .user-options {
    display: flex;
    min-width: 120px;
    @include breakpoint(639px) {
      display: block;
    }
    @include breakpoint(1024px) {
      min-width: 160px;
    }
  }
}

.menu-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100px;
  align-self: flex-start;
  width: 35%;
  background-color: #fff;
  @include breakpoint(1024px) {
    width: 40%;
    margin-right: 30px;
  }
  @include breakpoint(1400px) {
    width: 47.5%;
  }
  li {
    display: flex;
    padding-top: 10px;
    align-items: center;
    flex: 1;
    border-left: 1px solid #dcede7;
    transition: all 0.3s linear;
    &:last-child {
      border-right: 1px solid #dcede7;
    }
    &.active {
      border-bottom: 7px solid $secondary;
      background-color: #d0d3db;
      a {
        color: $secondary;
      }
    }
    &:hover {
      border-bottom: 7px solid $secondary;
    }
    .light-theme & {
      &.active {
        border-bottom: 7px solid $primary;
        background-color: #dcede7;
      }
      &:hover {
        border-bottom: 7px solid $primary;
      }
    }
    a {
      padding: 0 20%;
      line-height: 80px;
      font-size: 15px;
      width: 100%;
      text-align: center;
      height: 100%;
      color: #000;
      white-space: nowrap;
      @include breakpoint(768px) {
        font-size: 18px;
      }
      @include breakpoint(1200px) {
        font-size: 20px;
      }
    }
  }
}

.icon-fav {
  display: block;
  width: 29px;
  height: 25px;
  background-image: url(../images/icons/icon-star.png);
  background-position: center;
  margin-top: 7px;
  margin-right: 10px;
}
.icon-knowledge {
  background-image: url(../images/icons/icon-base.png);
}
.icon-chatbot {
  background-image: url(../images/icons/icon-chat.png);
}
.icon-talk {
  background-image: url(../images/icons/icon-talk.png);
}