.mega-menu {
  z-index: 90;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s linear;
  &.pinned {
    position: fixed;
    transform: translateY(0) !important;
    background: $secondary;
    .mega-menu__top .logo {
      padding: 0 20px;
      margin: 10px 0;
    }
  }
  &__element {
    &-right {
      display: none;
      width: auto;
      min-width: 200px;
      padding: 20px;
      &.show {
        @media (max-width: 1024px) {
          display: block;
          width: 100%;
        }
      }
      @include breakpoint(1024px) {
        background: #4da687;
        position: absolute;
      }
      a {
        position: relative;
        display: block;
        color: #fff;
        font-size: 16px;
        margin-bottom: 5px;
        padding-right: 15px;
        width: 100%;
        white-space: nowrap;
        @include breakpoint(1024px) {
          display: inline;
          width: 100%;
        }
        &:after {
          content: "";
          width: 10px;
          height: 6px;
          background: url(/images/icons/chevron.svg) 0 no-repeat;
          position: absolute;
          right: 0;
          top: 12px;
          background-size: cover;
          transform: rotate(90deg);
          @include breakpoint(1024px) {
            top: 7px;
          }
        }
        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
  &__right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__bg {
    position: relative;
    > div {
      max-width: 1320px;
      margin: auto;
    }
    &.opened {
      @media (max-width: 1024px) {
        background: #14254b;
      }
    }
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .logo {
      padding: 18px 20px;
      margin: 20px 0;
      @media (max-width: 1024px) {
        min-width: 200px;
        padding-left: 0;
      }
    }
  }
  &__nav {
    height: inherit;
    padding: 0 40px;
    display: none;
    @media (max-width: 1024px) {
      position: absolute;
      display: block;
      width: 100%;
      height: 0;
      opacity: 0;
      right: 0;
      top: 70px;
      transition: all 0.3s linear;
    }
    &.show {
      @media (max-width: 1024px) {
        opacity: 1;
        transition: all 0.3s linear;
        display: block;
        position: fixed;
        height: auto;
        width: 100%;
        top: 110px;
        right: 0;
        padding: 10px 30px 40px;
        background: #14254b;
        .pinned & {
          top: 68px;
        }
      }
    }
    @include breakpoint(1024px) {
      align-items: center;
      display: flex;
    }
    > li {
      position: relative;
      @include breakpoint(1024px) {
        margin-right: 40px;
      }
      &:last-child {
        margin-right: 0;
      }
      > a {
        position: relative;
        display: flex;
        align-items: center;
        color: $white;
        font-size: 16px;
        margin: 0;
        &.button {
          padding: 13px 40px;
        }
        @media (max-width: 1260px) {
          padding: 0 10px;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      &.submenu {
        padding-right: 15px;
        position: relative;
        &:after {
          content: "";
          width: 10px;
          height: 6px;
          background: url(/images/icons/chevron.svg) 0 no-repeat;
          background-size: cover;
          transform: rotate(180deg);
          position: absolute;
          right: 0;
          top: 13px;
        }
        &:hover {
          @include breakpoint(1024px) {
            .mega-menu__element {
              .mega-menu__element-right {
                display: block;
                width: auto;
              }
            }
          }
        }
      }
      &.link-button {
        margin-top: 30px;
        @include breakpoint(1024px) {
          margin-top: 0;
        }
      }
    }
  }
  &__burger {
    display: block;
    background: url(/images/icons/burger.svg) 0 no-repeat;
    width: 60px;
    height: 35px;
    margin-right: 10px;
    background-size: contain;
    cursor: pointer;
    &.show {
      background: url(/images/icons/close.svg) 0 no-repeat;
      width: 50px;
      height: 41px;
      margin-right: 10px;
      background-size: contain;
    }
    @include breakpoint(1024px) {
      display: none;
    }
  }
}
