<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../common/head }}
</head>
{{> ../components/mega-menu }}

<body class="home" style="background: url(images/bg-lgpd.jpg) top center no-repeat;">
  <section class="home__header">
    <div class="row expanded height-100">
      <div class="column large-12 flex-container">
        <div class="home__header-desc">
          <h1>Welcome to data platform.</h1>
          <h2>Govern your data!</h2>
          <a class="button button__green" href="#"><span>Register</span></a>
        </div>
      </div>
    </div>
  </section>

  <section class="form-login">
    <div class="form-login__container">
      <form method="get">
        <div class="input-group">
          <label>Username</label>
          <input type="text" value="" id="form_username" placeholder="Enter username" />
          <i class="icon icon-username"></i>
          <span class="input-error">This field is required</span>
          <p><small>Contrary to popular belief, Lorem Ipsum is not simply random text</small></p>
        </div>
        <div class="input-group">
          <label>Password</label>
          <input type="password" value="" id="form_password" placeholder="Enter password" />
          <i class="icon icon-password"></i>
          <span class="input-error">This field is required</span>
          <p><small>Contrary to popular belief, Lorem Ipsum is not simply random text</small></p>
        </div>
        <button type="submit" class="button button__green input__submit">Enter</button>
      </form>
    </div>
  </section>

  <section class="three-block-banner">
    <div class="row">
      <div class="three-block-banner__box-position flex-container">
        {{!-- <div class="three-block-slider"> --}}
        <div class="three-block">
          {{#each three-block-banner}}
            <div class="three-block-banner__box flex-container">
              <div class="three-block-banner__box-img">
                <img src="{{img}}" title="{{title}}" alt="icon" />
              </div>
              <div class="three-block-banner__box-desc">
                <div class="three-block-banner__box-desc-pos">
                  <h4>{{title}}</h4>
                  <p>{{desc}}</p>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>

  <footer>
    {{> ../common/footer }}
  </footer>
</body>

</html>