@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .home-hero__desc {
    margin-left: 60px;
  }
  .home-hero {
    .swiper-slide {
      width: 100%;
    }
  }
  .swiper-slide {
    width: auto;
  }
  .submenu-toggle {
    width: auto;
    height: auto;
    top: 10px;
  }
}

@supports (-ms-ime-align: auto) {
  .submenu-toggle {
    width: auto;
    height: auto;
    top: 10px;
  }
}
