
$global-font-size: 18px;
$paragraph-lineheight: 32px;

// Grid
$global-width: 1320px;

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 991px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

// Colours
$primary: #4da687;
$secondary: #14254b;
$purple: #7579a5;
$tertiary: #8492af;
$white: #fff;
$light-gray: #f6f7fa;
$gray: #999;

$foundation-palette: (
  primary: $primary,
  secondary: $secondary,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$grey: (
  extra: #292929,
  medium: #919191,
  light: #f6f6f6,
  white: #fff,
);

$list-margin-bottom: 0;
$list-side-margin: 0;

$anchor-color-hover: $secondary;

$pagination-font-size: 16px;
$pagination-item-color: $primary;
$pagination-item-background-current: $primary;
$pagination-ellipsis-color: $primary;

$has-tip-cursor: pointer;
$tooltip-background-color: $white;
$tooltip-color: $white;
$tooltip-font-size: 12px;
$tooltip-radius: 2px;
$tooltip-max-width: 300px;
$tooltip-padding: 1px 7px;
$tooltip-pip-width: 0;
$tooltip-pip-height: 0;

// Type
$header-styles: (
  small: (
    "h1": (
      "font-size": 32,
    ),
    "h2": (
      "font-size": 22,
    ),
    "h3": (
      "font-size": 18,
    ),
    "h4": (
      "font-size": 16,
    ),
    "h5": (
      "font-size": 14,
    ),
  ),
  medium: (
    "h1": (
      "font-size": 42,
    ),
    "h2": (
      "font-size": 30,
    ),
    "h3": (
      "font-size": 24,
    ),
    "h4": (
      "font-size": 20,
    ),
    "h5": (
      "font-size": 16,
    ),
  ),
);

// Animations
$transition: 0.2s;

//type
.intro {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.fine {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

p {
  font-size: 18px;
  line-height: 32px;
}

a {
  transition: $transition;
}
.row {
  width: 100%;
  &.small-row {
    max-width: 1090px;
  }
}

//mixin
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}