.link-hover {
  position: relative;
  display: inline-block;
  color: $black;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 1.4;
  cursor: pointer;
}

.button {
  border-radius: 8px;
  padding: 13px 20px;
  cursor: pointer;
  min-width: 120px;
  position: relative;
  @include center;
  color: $white;
  background-color: $secondary;
  &:hover {
    background-color: $primary;
  }
  &__green {
    color: $white;
    background-color: $primary;
    position: relative;
    border: none;
    &:hover {
      background-color: $secondary;
    }
  }
  &__blue {
    color: $white;
    background-color: $secondary;
    position: relative;
    border: none;
    &:hover {
      background-color: $primary;
    }
  }
}
