body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #000;
  &.blocked {
    overflow: hidden;
  }
}
::placeholder {
  color: $tertiary;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $tertiary;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $tertiary;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="email"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="email"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.column {
  padding: 0 15px;
  @media (max-width: 639px) {
    padding: 0 20px;
  }
}
.first-p {
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
  @media (max-width: 639px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  p {
    max-width: 900px;
    color: $white;
    font-size: 18px;
    line-height: 32px;
    @media (max-width: 639px) {
      font-size: 16px;
      line-height: 27px;
    }
  }
}
.tooltip-link {
  font-size: 10px;
  color: $white;
  border: solid 1px $white;
  padding: 0 2px;
  border-radius: 2px;
  transition: $transition;
  display: inline !important;
  &:hover {
    color: $white;
    background-color: $white;
  }
}
.input-group {
  position: relative;
  &.is_empty {
    input {
      border: 2px solid red !important;
    }
  }
}
.msg-error {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  font-size: 12px;
  display: none;
  &.show {
    display: block;
  }
}
.desktop-only {
  display: block;
  @media (max-width: 1024px) {
    display: none !important;
  }
}
.mobile-only {
  display: none;
  @media (max-width: 639px) {
    display: block;
  }
}
.mobile-tablet-only {
  display: none;
  @media (max-width: 1023px) {
    display: block;
  }
}
.mobile-hidden {
  display: block;
  @media (max-width: 639px) {
    display: none !important;
  }
}

small {
  color: #7579a5;
  font-size: 12px;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  .item {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
.box {
  display: block;
  width: 90px;
  height: 90px;
  @include breakpoint(768px) {
    width: 100px;
    height: 100px;
  }
}
.color {
  color: #000;
  background-color: #000;
  &-black {
    color: #000;
    background-color: #000;
  }
  &-blue {
    color: $secondary;
    background-color: $secondary;
  }
  &-green {
    color: $primary;
    background-color: $primary;
  }
  &-green2 {
    color: #06a677;
    background-color: #06a677;
  }
  &-purple {
    color: #7579a5;
    background-color: #7579a5;
  }
  &-red {
    color: #fb5353;
    background-color: #fb5353;
  }
  &-gray {
    color: #eaedf2;
    background-color: #eaedf2;
  }
  &-light-gray {
    color: #f6f7fa;
    background-color: #f6f7fa;
  }
  &-white {
    color: #fff;
    background-color: #fff;
  }
}
.box + span {
  font-size: 12px;
  color: $purple;
}
