.header {
  background-color: #1f3649;
  height: 400px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 1024px) {
    > .height-100 {
      background-position: 60vw !important;
    }
  }
  @media (max-width: 767px) {
    > .height-100 {
      background: none !important;
    }
  }
  @media (max-width: 639px) {
    height: 100%;
    min-height: 240px;
    display: flex;
    align-items: flex-end;
  }
  &__position {
    justify-content: flex-end;
    @media (max-width: 639px) {
      align-items: flex-start;
    }
    > div {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      a {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #7e91a0;
        font-size: 12px;
        line-height: 16px;
        text-decoration: none;
        font-weight: bold;
      }
      h1 {
        color: $white;
        margin-bottom: 60px;
        margin-top: 20px;
        max-width: 850px;
        font-size: 42px;
        line-height: 1.2;
        @include Roboto-regular;
        @media (max-width: 639px) {
          text-align: left;
          margin-bottom: 20px;
          margin-top: 10px;
          // max-width: 90%;
        }
      }
    }
    .breadcrumbs {
      margin: 0;
      flex-wrap: wrap;
      @media (max-width: 639px) {
        justify-content: flex-start;
      }
      a {
        color: $white;
        font-size: 12px;
        text-transform: uppercase;
        position: relative;
        text-decoration: none;
        margin-right: 30px;
        transition: $transition;
        margin-bottom: 3px;
        &:hover {
          &:before {
            background: $white;
          }
        }
        &:before {
          transition: $transition;
          background: $primary;
        }
        &:after {
          position: absolute;
          content: url("images/icons/arrow.svg");
          top: 1px;
          right: -17px;
        }
        &:last-of-type {
          margin-right: 0;
          &:after {
            content: none;
          }
        }
      }
    }
  }
}
