.breadcrumb {
  background: #14254b;
  padding: 5px 25px;
  display: flex;
  border-radius: 8px;
  li {
    a {
      color: #fff;
      // text-decoration: underline;
      font-size: 16px;
    }
    &.current {
      a {
        text-decoration: none;
        pointer-events: none;
      }
    }
    &:after {
      content: url(../images/icons/icon-arrow.png);
      display: inline-block;
      width: 16px;
      height: 9;
      margin: 0 6px 0 8px;
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}
