.main__menu {
  position: absolute;
  left: -100%;
  width: 260px;
  min-height: calc(100vh - 120px);
  transition: all 0.4s ease-in-out;
  z-index: 9;
  &.hidden {
    left: 10px;
  }
  .menu-profile {
    > h3 {
      color: #fff;
      text-align: center;
      padding: 0 0 10px;
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 30px;
    }
    &--img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      margin: 30px auto 20px;
      img {
        display: block;
        margin: 0 auto;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .button {
      max-width: 160px;
      margin: 0 auto;
    }
  }
  .menu-banner {
    border-radius: 8px;
    min-height: 250px;
    width: 100%;
    background-color: #3c7172;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    small {
      color: #fff;
    }
  }
  h3 {
    color: #fff;
    display: flex;
    padding: 0 0 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
  }
  .menu-control {
    position: absolute;
    top: 50px;
    left: 260px;
    display: inline-block;
    width: 26px;
    height: 4px;
    background-color: #2a3a5c;
    z-index: 9;
    .light-theme & {
      background-color: #5eaf93;
    }
    &:before {
      content: "";
      display: block;
      width: 26px;
      height: 4px;
      margin-top: -8px;
      background-color: $secondary;
      .light-theme & {
        background-color: $primary;
      }
    }
    &:after {
      content: "";
      display: block;
      width: 26px;
      height: 4px;
      margin-top: -12px;
      background-color: $secondary;
    }
    @include breakpoint(1200px) {
      display: none;
    }
    .arrow-menu {
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: 7px solid $secondary;
      width: 0;
      height: 0;
      position: absolute;
      right: -12px;
      transform: rotate(180deg);
      top: -11px;
    }
  }
  @include breakpoint(1200px) {
    top: inherit;
    left: inherit;
    position: relative;
    width: 260px;
    // margin-left: 10px;
    // margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    &.hidden {
      width: 0;
      margin: 0;
      .logo {
        opacity: 0;
      }
    }
  }
}
.menu-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  &.show {
    visibility: visible;
    z-index: 8;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
  }
  @include breakpoint(1200px) {
    display: none;
  }
}
.mega-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s linear;
  &__left {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 260px;
    padding: 0 20px;
    padding-bottom: 100px;
    background: #2a3a5c;
    background-size: 100% auto;
    z-index: 10;
    .light-theme & {
      background: #5eaf93;
    }
  }
  &__nav {
    // width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    margin-right: -20px;
    width: auto;
    background-color: #263659;
    .light-theme & {
      background-color: #4f9385;
    }
    > li {
      position: relative;
      display: flex;
      align-items: center;
      &.active {
        > a {
          border-left: 20px solid #122143;
          .light-theme & {
            border-left: 20px solid #122143;
          }
        }
      }
      > a {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        color: $white;
        font-size: 14px;
        padding: 10px 30px;
        padding-left: 15px;
        line-height: 30px;
        margin: 0;
        border-left: 20px solid #7579a5;
        .light-theme & {
          border-left: 20px solid #0a9169;
        }
        @include breakpoint(1200px) {
          font-size: 18px;
        }
        &:hover {
          border-left: 20px solid #122143;
        }
      }
      i {
        display: inline-block;
        min-width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 15px;
      }
    }
  }
}
