.pagination {
  display: flex;
  li {
    margin: 0;
    background-color: #fff;
    a, button {
      color: $secondary;
      padding: 3px 13px;
    }
  }
  .current {
    background-color: $secondary;
    padding: 3px 13px;
  }
}