.popover {
  display: flex;
  align-items: center;
  position: relative;
  .popover-action {
    &:hover {
      & + .popover-content {
        display: block;
      }
      .light-theme & {
        background-color: $secondary;
      }
    }
    .light-theme & {
      background-color: $primary;
    }
  }
  .popover-content {
    display: none;
    margin-left: 10px;
    border-radius: 8px;
    max-width: 320px;
    background: #fff;
    padding-bottom: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 140px;
    h4 {
      font-size: 18px;
      padding: 10px 15px;
      font-weight: bold;
      display: block;
      width: 100%;
      border-bottom: 1px solid #ccc;
    }
    p {
      font-size: 16px;
      line-height: 1.2;
      padding: 10px 15px;
      margin: 0;
    }
  }
}