.component--top-menu {
  .top-menu--list {
    background-color: #fff;
    padding: 20px 0;
    max-width: 240px;
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    li.link {
      position: relative;
      &:hover, &.active {
        > a {
          background: #f3f7fa;
        }
      }
      > a {
        font-size: 16px;
        color: #7579a5;
        width: 100%;
        padding: 10px 30px;
        display: inline-block;
        &:after {
          display: inline-block;
          content: "";
          background: url(../images/icons/arrow-right.png);
          width: 6px;
          height: 10px;
          margin-left: 12px;
          margin-bottom: -1px;
          position: absolute;
          right: 30px;
          top: 20px;
        }
        &:hover {
          background: #f3f7fa;
        }
      }
      &.submenu {
        > a:after {
          transform: rotate(90deg);
        }
        &.active, &:hover {
          > a:after {
            transform: rotate(-90deg);
          }
          .submenu-list {
            display: block;
          }
        }
        .submenu-list {
          display: none;
        }
      }
    }
  }
  .submenu-list {
    position: relative;
    width: 240px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    @include breakpoint(768px) {
      position: absolute;
      top: 0;
      left: 98%;
    }
    .link {
      position: relative;
      a {
        font-size: 16px;
        color: #7579a5;
        width: 100%;
        padding: 10px 30px;
        display: inline-block;
        &:after {
          display: inline-block;
          content: "";
          background: url(../images/icons/arrow-right.png);
          width: 6px;
          height: 10px;
          margin-left: 12px;
          margin-bottom: -1px;
          position: absolute;
          right: 30px;
          top: 20px;
        }
        &:hover {
          background: #f3f7fa;
        }
      }
    }
  }
}
