///
/// Create an fixed position element that fills entire screen
///
.fixed-fill {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

///
/// Create an absolute position element that fills its entire parent
///
.absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}
