.form-login {
  background: #f6f7fa;
  border-radius: 10px;
  max-width: 1100px;
  padding-bottom: 60px;
  margin: 40px auto;
  // margin-top: 50vh;
  // transform: translateY(-50%);
  width: 90%;
  overflow: hidden;
  @include breakpoint(1024px) {
    margin: 90px auto;
  }
  form {
    max-width: 600px;
    margin: 0 auto;
    width: 90%;
  }
  h1 {
    text-align: center;
    color: $tertiary;
    font-size: 48px;
    font-weight: 300;
    margin: 40px 0;
    span {
      color: $primary;
    }
  }
  &__header {
    background-color: $secondary;
    @include breakpoint(639px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .logo {
      padding: 25px 0;
      display: block;
      margin-left: 20px;
      @include breakpoint(639px) {
        margin-left: 40px;
      }
      img {
        max-width: 250px;
      }
    }
  }
  &__menu {
    min-height: 80px;
    display: flex;
    justify-content: flex-start;
    @include breakpoint(639px) {
      min-height: 30px;
    }
    ul {
      display: flex;
      flex-direction: row;
      li {
        a {
          color: #fff;
          font-size: 20px;
          padding: 45px 40px;
          &:hover {
            border-bottom: 7px solid $primary;
          }
        }
        &.active {
          a {
            border-bottom: 7px solid $primary;
          }
        }
      }
    }
  }
  .input-group {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
    input {
      margin-bottom: 5px;
      border: 0;
      border-radius: 5px;
      background: #fff;
      padding-left: 50px;
      font-size: 16px;
      height: auto;
    }
    p {
      line-height: 1;
      small {
        color: $tertiary;
        font-size: 60%;
      }
    }
  }
  .icon {
    display: block;
    &-username {
      background: url(../images/icons/icon-username.png) 0 no-repeat;
      width: 28px;
      height: 28px;
      margin-top: -39px;
      margin-left: 8px;
      margin-bottom: 10px;
    }
    &-password {
      background: url(../images/icons/icon-password.png) 0 no-repeat;
      width: 23px;
      height: 26px;
      margin-top: -38px;
      margin-left: 8px;
      margin-bottom: 10px;
    }
  }
  .input__submit {
    margin: 50px auto 30px;
    padding: 16px 120px;
    border-radius: 50px;
    font-size: 20px;
    &:after {
      content: "";
      background: url(../images/icons/arrow-right.png) 0 no-repeat;
      width: 7px;
      height: 11px;
      margin-left: 12px;
      margin-bottom: -1px;
    }
  }
}
