.template {
  background-color: $light-gray;
  .main {
    width: 100%;
    transition: all 0.4s ease-in-out;
    @include breakpoint(1200px) {
      width: 82%;
    }
    &.expanded {
      width: 100%;
    }
  }
  .components {
    padding: 15px 0;
    @include breakpoint(1024px) {
      padding: 20px 20px;
    }
    @include breakpoint(1200px) {
      padding: 20px 30px;
    }
    > .row {
      margin: 0;
      max-width: 100%;
    }
    > h2 {
      color: #000;
      font-size: 28px;
      margin: 0 20px 30px;
      margin-bottom: 30px;
      @include breakpoint(1024px) {
        margin: 0 10px;
        margin-bottom: 20px;
      }
    }
    > .row > .column > h3 {
      color: #000;
      font-size: 20px;
      margin-bottom: 24px;
      margin-top: 40px;
    }
  }
}

.icon {
  &-home {
    background-image: url(../images/icons/home.png);
  }
  &-workflow {
    background-image: url(../images/icons/workflow.png);
  }
  &-statistics {
    background-image: url(../images/icons/statistics.png);
  }
  &-calendar {
    background-image: url(../images/icons/calendar.png);
  }
  &-users {
    background-image: url(../images/icons/users.png);
  }
  &-settings {
    background-image: url(../images/icons/settings.png);
  }
}

.header-main {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  padding: 0 20px;
  border-bottom: 1px solid #dadee7;
  justify-content: space-between;
  @include breakpoint(1024px) {
    padding: 0 30px;
  }
  .main-control {
    min-width: 100px;
    margin-top: -8px;
  }

  .menu-control {
    position: relative;
    padding: 10px 10px 5px 15px;
    transition: all 0.3s linear;
    .hamburger {
      position: relative;
      display: inline-block;
      transform: rotateY(180deg);
      width: 26px;
      height: 4px;
      background-color: $secondary;
      &:before {
        content: "";
        display: block;
        width: 26px;
        height: 4px;
        margin-top: -8px;
        background-color: $secondary;
      }
      &:after {
        content: "";
        display: block;
        width: 26px;
        height: 4px;
        margin-top: -12px;
        background-color: $secondary;
      }
    }
    .arrow-menu {
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: 6px solid $primary;
      width: 0;
      height: 0;
      position: absolute;
      left: 2px;
      top: 11px;
    }
    @include breakpoint(1200px) {
      &:hover {
        .hamburger {
          background-color: $primary;
          &:before {
            background-color: $primary;
          }
          &:after {
            background-color: $primary;
          }
        }
        .arrow-menu {
          border-right: 7px solid $secondary;
        }
      }
      &.active {
        .arrow-menu {
          left: inherit;
          right: 0;
          transform: rotateY(180deg);
        }
      }
    }
  }
  .menu-search {
    display: inline-block;
    background: url(../images/icons/menu-search.png) 0 no-repeat;
    background-position: top;
    min-width: 24px;
    height: 24px;
    margin-left: 20px;
    transition: none;
    @include breakpoint(768px) {
      margin-left: 30px;
      &:hover {
        background-position: bottom;
      }
    }
  }
  .menu-search-input {
    position: relative;
    height: 40px;
    display: inline-block;
    input {
      position: absolute;
      top: 3px;
      left: 10px;
      margin-bottom: 0;
      min-height: 50px;
      width: 0;
      padding: 0;
      border: none;
      transition: all 0.3s linear;
    }
    &.show {
      input {
        border: 1px solid #eee;
        border-radius: 6px;
        padding: 0 20px;
        min-height: 50px;
        width: 200px;
        margin-bottom: 0;
      }
    }
  }
  .menu-messages {
    display: inline-block;
    background: url(../images/icons/icon-messages.png) top no-repeat;
    min-width: 33px;
    height: 23px;
    margin-left: 30px;
    margin-right: 5px;
    margin-bottom: -7px;
    transition: none;
    @include breakpoint(768px) {
      &:hover {
        background-position: bottom;
      }
    }
  }
  .menu-alerts {
    position: relative;
    display: inline-block;
    background: url(../images/icons/icon-notifications.png) top no-repeat;
    min-width: 24px;
    height: 28px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -10px;
    transition: none;
    @include breakpoint(768px) {
      margin-left: 30px;
      margin-right: 30px;
      &:hover {
        background-position: bottom;
        span {
          background-color: $secondary;
        }
      }
    }
    span {
      position: absolute;
      top: -5px;
      right: -4px;
      border-radius: 100%;
      background-color: $primary;
      color: #fff;
      font-size: 9px;
      line-height: 1.6;
      height: 15px;
      width: 15px;
      text-align: center;
      border: 1px solid #fff;
    }
  }
  .button {
    display: inline;
    margin-bottom: 0;
    min-width: 150px;
  }
  .menu-profile {
    position: relative;
    padding-right: 15px;
    min-width: 60px;
    min-height: 60px;
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 50%;
    }
    &:after {
      content: "";
      border-color: transparent transparent transparent #000;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      transform: rotate(90deg);
      width: 0;
      height: 0;
      right: 5px;
      position: absolute;
      top: 10px;
    }
    &:hover {
      &:after {
        border-color: transparent transparent transparent $primary;
      }
    }
  }
}

.menu-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100px;
  align-self: flex-start;
  width: 50%;
  background-color: #fff;
  @include breakpoint(1024px) {
    width: 40%;
    margin-right: 30px;
  }
  @include breakpoint(1400px) {
    width: 45%;
  }
  li {
    display: flex;
    padding-top: 10px;
    align-items: center;
    flex: 1;
    border-right: 1px solid #dadee7;
    transition: all 0.3s linear;
    &.active {
      border-bottom: 7px solid $primary;
      a {
        color: $primary;
      }
    }
    &:hover {
      border-bottom: 7px solid $primary;
    }
    a {
      padding: 0 20%;
      line-height: 80px;
      font-size: 15px;
      width: 100%;
      text-align: center;
      height: 100%;
      color: #000;
      white-space: nowrap;
      @include breakpoint(768px) {
        font-size: 18px;
      }
      @include breakpoint(1200px) {
        font-size: 20px;
      }
    }
  }
}
