<div class="mega-menu">
  <div class="mega-menu__bg">
    <div class="column">
      <div class="mega-menu__top">
        <a href="/" class="logo">
          <img src="images/logo/logo.png" alt="logo">
        </a>
        <div class="mega-menu__right flex-container align-middle">
          <ul class="mega-menu__nav">
            <li class="link submenu">
              <a href="#">Features</a>
               <div class="mega-menu__element">
                <div class="mega-menu__element-position flex-container">
                  <div class="mega-menu__element-right flex-container flex-dir-column">
                    <a href="#">Lorem Submenu test name</a>
                    <a href="#">Submenu feature</a>
                    <a href="#">Submenu submenu</a>
                    <a href="#">Lorem ipsum</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="link">
              <a href="#">Pricing</a>
            </li>
            <li class="link">
              <a href="#">Blog</a>
            </li>
            <li class="link">
              <a href="#">Contact</a>
            </li>
            <li class="link link-button">
              <a href="#" class="button button__green">Login</a>
            </li>
          </ul>
        </div>
        <div class="mega-menu__burger"></div>
      </div>
    </div>
  </div>
</div>