body {
  margin-top: 104px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: $white;
  &.blocked {
    overflow: hidden;
  }
  @media (max-width: 1199px) {
    margin-top: 88px;
  }
}
::placeholder {
  color: $tertiary;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $tertiary;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: $tertiary;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="email"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="email"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.column {
  padding: 0 15px;
  @media (max-width: 639px) {
    padding: 0 20px;
  }
}
.first-p {
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
  @media (max-width: 639px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  p {
    max-width: 900px;
    color: $white;
    font-size: 18px;
    line-height: 32px;
    @media (max-width: 639px) {
      font-size: 16px;
      line-height: 27px;
    }
  }
}
.tooltip-link {
  font-size: 10px;
  color: $white;
  border: solid 1px $white;
  padding: 0 2px;
  border-radius: 2px;
  transition: $transition;
  display: inline !important;
  &:hover {
    color: $white;
    background-color: $white;
  }
}
.mobile-only {
  display: none;
  @media (max-width: 639px) {
    display: block;
  }
}
.mobile-tablet-only {
  display: none;
  @media (max-width: 1023px) {
    display: block;
  }
}
.input-group {
  position: relative;
  &.is_empty {
    input {
      border: 2px solid red !important;
    }
  }
}
.input-error {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  font-size: 12px;
  display: none;
  &.show {
    display: block;
  }
}
.desktop-only {
  display: block;
  @media (max-width: 1024px) {
    display: none;
  }
}
