.link-hover {
  position: relative;
  display: inline-block;
  @include Roboto-bold;
  color: $white;
  padding-left: 3px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 1.4;
  cursor: pointer;
  > span {
    position: relative;
    z-index: 1;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    bottom: 3px;
    left: 0;
    background-color: $white;
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.3s;
    z-index: 0;
  }
  &:after {
    content: "";
    position: absolute;
    background-image: url("images/icons/arrow.svg");
    width: 10px;
    height: 10px;
    right: 3px;
    top: 7px;
  }
  &:hover {
    color: $white;
    &:before {
      transform-origin: bottom left;
      transform: scaleX(0);
      transition: transform 0.3s;
    }
  }
  &.color-white {
    color: #fff;
    &:after {
      content: "";
      background-image: url("images/icons/arrow.svg");
    }
    &:before {
      background-color: $secondary;
    }
  }
}

.button {
  border-radius: 30px;
  padding: 13px 40px;
  cursor: pointer;
  min-width: 120px;
  position: relative;
  @include center;
  &__green {
    color: $white !important;
    background-color: $primary !important;
    position: relative;
    border: none;
  }
}
