.footer {
  background-color: #14254b;
  padding: 50px 0 30px;
  &__bottom {
    background-color: $white;
    padding: 15px 0;
    .row {
      @media (max-width: 639px) {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }
  &__bottom-text {
    justify-content: center;
    @media (max-width: 639px) {
      height: auto;
      padding: 18px 0;
    }
    span {
      display: block;
      text-align: center;
      font-size: 14px;
      color: $tertiary;
      @media (max-width: 991px) {
        display: inline-block;
        font-size: 12px;
        width: 100%;
      }
    }
  }
  &__bottom-right {
    display: block;
    @include breakpoint(768px) {
      display: flex;
      justify-content: flex-end;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 21px;
      li {
        display: inline-block;
        margin: 0 10px;
        @include breakpoint(768px) {
          margin-right: 0;
          margin-left: 40px;
        }
        a {
          font-size: 14px;
          text-decoration: none;
          color: $tertiary;
          @media (max-width: 639px) {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__social-media {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    @include breakpoint(768px) {
      display: inline-block;
      margin: 0;
      margin-left: 30px;
    }
    ul {
      li {
        margin-left: 15px;
      }
    }
    .icon {
      display: block;
      width: 20px;
      height: 20px;
      &-facebook {
        background: url(/images/icons/facebook.svg) 0 no-repeat;
        background-repeat: no-repeat;
      }
      &-instagram {
        background: url(/images/icons/instagram.svg);
        background-repeat: no-repeat;
        width: 18px;
        height: 20px;
      }
      &-twitter {
        background: url(/images/icons/twitter.svg);
        background-repeat: no-repeat;
        width: 17px;
        height: 20px;
      }
      &-linkedin {
        background: url(/images/icons/linkedin.svg);
        background-repeat: no-repeat;
        width: 20px;
        height: 21px;
      }
    }
  }
}
