<div class="footer">
  <div class="row">
    <div class="footer__bottom-text column small-12 medium-4">
      <span>© 2020 LGPDNOW - Govern your data.</span>
    </div>
    <div class="footer__bottom-right column small-12 medium-8">
      <ul>
        {{#each footer-menu}}
        <li><a class="link-footer" href="#">{{link}}</a></li>
        {{/each}}
      </ul>
      <div class="footer__social-media">
        <ul>
          <li><a href="https://facebook.com"><i class="icon icon-facebook"></i></a></li>
          <li><a href="https://instagram.com"><i class="icon icon-instagram"></i></a></li>
          <li><a href="http://twitter.com"><i class="icon icon-twitter"></i></a></li>
          <li><a href="http://linkedin.com"><i class="icon icon-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>