<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="format-detection" content="telephone=no">
<title>{{ page_title }}</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap" rel="stylesheet">
<meta name="description" content="LGPDNOW site">
<meta name="robots" content="index,follow">
<meta name="keywords" content="LGPDNOW">
<meta property="og:image" content="">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="600">
<meta property="og:type" content="website">
<meta property="og:title" content="LGPDNOW">
<meta property="og:description" content="LGPDNOW site">
<meta property="og:url" content="">
<meta property="og:site_name" content="LGPDNOW">
<meta name="twitter:card" content="summary">

{{!-- <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png"> --}}
{{!-- <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png"> --}}
{{!-- <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png"> --}}

{{!-- <link rel="manifest" href=""> --}}
{{!-- <meta name="msapplication-TileColor" content="#215f78"> --}}
{{!-- <meta name="theme-color" content="#ffffff"> --}}
