<div class="header">
  <div class="height-100" style="background: url('images/bg-about.jpg') right no-repeat">
    <div class="row header__position height-100 flex-container flex-dir-column">
      <div class="column">
        <a href="/">{{page_level}}</a>
        <h1>{{h1}}</h1>
      </div>
    </div>
    </div>
  </div>
</div>